
<div class="cont">
    <div class="content">
        <div class="header">
            <div class="head-cont">
                <div class="hd-c">
                    <img class="logo" src="assets/logo.png" alt="">
                    <h1 class="p-3 pl-3 fs-5 fw-bold">{{ name }}</h1>
                </div>
                <div class="close">
                    <i class="bi bi-x-circle"></i>
                </div>
            </div>
            <p class="pt-1 fw-bold">{{ navHeader }}</p>
        </div>

        <div class="nav">
            <ul>
              <li routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                <a><img src="assets/nav-img/Group 93.svg" alt="">მთავარი</a>
              </li>
              <li routerLink="calendar" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                <a><img src="assets/nav-img/Group 96.svg" alt="">კალენდარი</a>
              </li>
              <li routerLink="dchancellery" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                <a><img src="assets/nav-img/Group 94.svg" alt="">ელ.კანცელარია</a>
              </li>
              <li routerLink="elearning" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                <a><img src="assets/nav-img/Group 98.svg" alt="">ელ.სწავლება</a>
              </li>
              <li routerLink="1" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                <a><img src="assets/nav-img/Group 100.svg" alt="">საგანმანათლებლო პროგრამა</a>
              </li>
              <li routerLink="2" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                <a><img src="assets/nav-img/Group 101.svg" alt="">სასწავლო ბარათი</a>
              </li>
              <li routerLink="3" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                <a><img src="assets/nav-img/Group 104.svg" alt="">ცხრილი</a>
              </li>
              <li routerLink="4" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                <a><img src="assets/nav-img/Group 101.svg" alt="">აკადემიური რეგისტრაცია</a>
              </li>
            </ul>
        </div>

        <div class="footer">
        </div>
    </div>
</div>
