<div class="section">
    <div class="text">
        <h1>{{ title }}</h1>
    </div>

    <div class="logo">
        <a routerLink=""><img src="assets/logo.png" alt="Logo"></a>
    </div>

    <div class="r-n">
        <ul>
            <li>
                <a routerLink="library" ><img src="assets/nav/horizontal-1.svg" alt=""></a>
            </li>
            <li>
                <a routerLink="calendar"><img src="assets/nav/horizontal-2.svg" alt=""></a>
            </li>
        </ul>
    </div>
</div>